@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.header {
    color: #161514;
    background-color: #2d3436;
    padding: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    color: #34ace0;
    line-height: 26px;
}


.search-bar {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.search-bar form {
    color: #f7f1e3;
    display: flex;
    justify-content:baseline;
    align-items: center;
}

.search-bar label {
    width: 130px;
    font-size: 15px;
    line-height: 26px;
    padding-right: 3px;
}

.search-bar input {
    width: 170px;
    outline: none;
    border: 0;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #f7f1e3;;
    font-family: inherit;
    line-height: 26px;
    background: white;
}

.dropdown {
    position: relative;
}

.dropdown-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 4px black;
    border-radius: 0 0 3px 3px;
}

.dropdown-container a:last-child div {
    border-radius: 0 0 3px 3px;
}

.dropdown-result {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border: 2px solid transparent;
    background-color: rgb(255, 255, 255, .8);
    animation-name: dropdown;
    animation-duration: .5s;
}

.dropdown-result:hover {
    border: 2px solid black;
    transition: all .5s ease-in-out;
}

.dropdown-result-details {
    text-align: left;
}

.dropdown-result-title {
    color: #161514;
    font-size: 20px;
}
.dropdown-result-year {
    color: #64625d;
    font-size: 12px;
}

.dropdown-result-thumbnail {
    min-height: 80px;
    min-width: 50px;
    border-radius: 2px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.dropdown-container .loading {
    height: 50px;
    width: 300px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 3px 3px;
    animation: dropdown .5s;
}

.loading img {
    position: absolute;
    height: 20px;
    animation: rotate 1s linear infinite;
}

.dropdown-container .no-results {
    height: 50px;
    width: 300px;
    padding: 2%;
    color: rgb(201, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dropdown .5s;
}

.trending-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4%;
}
.trending-page-title {
    color:rgb(158, 155, 147);
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 1%;
    padding: 2%;
}

.trending-films {
    max-width: 900px;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.results-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-page-list {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filmcard-container {
    margin: 1%;
}

.filmcard {
    width: 240px;
    height: 130px;
    box-shadow: 1px 1px 2px black;
    border: 2px solid #2c2c54;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
}
.filmcard:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 8px black;
}

.filmcard-title {
    color: rgba(255, 218, 121,1.0);
    font-size: 20px;
    text-shadow: 2px 1px 2px rgba(44, 44, 84,1.0);
    padding: 2%;
}
.filmcard-character {
    color: #f7f1e3;
    font-size: 16px;
    text-shadow: 2px 1px 1px rgba(44, 44, 84,1.0);
    padding: 2%;
}
.filmcard-date {
    color: rgb(228, 143, 107);
    font-size: 16px;
    text-shadow: 2px 1px 1px rgba(44, 44, 84,1.0);
    padding-left: 2%;
}

.film-details-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.film-details {
    width: 600px;
    display: flex;
    background-color: white;
}

.film-details-poster {
    padding: 2%;
    height: 300px;
    width: 200px;
    flex: 1;
}

.film-details-info {
    width: 200px;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.film-info-title {
    text-align: center;
    color: rgb(204, 142, 53);
    flex: 0;
}

.film-info-release-date {
    flex: 1;
}

.film-info-tagline {
    text-align: center;
    flex: 5;
}
.film-info-runtime {
    flex: 0;
}

.overview {
    max-width: 600px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 1% 3% 2% 3%;
}

.modal {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.overview-modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-modal-text {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 4%;
    background-color: rgb(121, 163, 124);
}

.cast-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d3436;
    width: 100%;
    border-top: 4px solid rgb(205, 97, 51);
}

.cast-page-title {
    font-size: 30px;
    padding: 1%;
    color: rgb(255, 218, 121);
}

.cast-list {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.cast-card {
    background: rgb(44, 44, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    width: 250px;
    border-radius: 3px 3px 3px 3px;
    transition: all .2s ease-in-out;
}

.cast-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 8px black;
}

.cast-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 0 1% 0 1%;
}

.cast-card-name {
    color: #34ace0;
    text-shadow: 1px 1px 3px #121225;
    text-align: center;
    padding-bottom: 10%;
    font-size: 20px;
}

.cast-card-character {
    color: #84817a;
    text-align: center;
    font-size: 14px;
}

.cast-card-image {
    width: 120px;
    border-radius: 0px 3px 3px 0px;
}

.cast-card-a-container {
    margin: 1%;
}

.actor-details-page {
    height: auto;
}

.actor-details {
    min-height: 378px;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actor-info {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.actor-image {
    border-radius: 3px;
    height: 300px;
}

.actor-credits-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor-credits-page-title {
    font-size: 30px;
    padding: 2%;
}

.actor-credits-list {
    max-width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-wrapper {
    display: flex;
    justify-content: center;
    border-top: 4px solid #474787;
    border-bottom: 4px solid #474787;
    margin-bottom: 3%;
}
  
.react-player {
    max-width: 600px;
}

/* 
    anything under 655 width sizes change for filmcards
*/

@media only screen and (max-width: 575px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .header-title {
        text-align: center;
        padding: 2% 0% 4% 0%;
    }
    .film-details {
        width: 100%;
    }
    .player-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 535px) {
    .cast-card {
        max-width: 220px;
    }
    .cast-list {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 480px) {
    .cast-list {
        flex-wrap:nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 1px solid black;
    }

    .cast-card-a-container {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid black;
    }

    .cast-card {
        width: 100%;
        max-width: none;
    }

    .cast-card-info {
        width: 30%;
    }
    .cast-card-image {
        width: 30%;
    }

    .filmcard-container {
        margin: 2%;
    }

    .filmcard {
        width: 300px;
        height: 180px;
    }
}

@media only screen and (max-width: 325px) {
    .search-bar input{
        width: 100%;
    }
    .dropdown {
        width: 250px;
    }

    .dropdown-container {
        width: 250px;
    }

    .dropdown-result {
        width: 100%;
    }
    
    .dropdown-container .no-results,
    .dropdown-container .loading {
        width: 250px;
    }
}

@keyframes dropdown {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotate {
    from {transform: rotate(-30deg)}
    50% {transform: rotate(30deg)}
    to {transform: rotate(-30deg)}
}